{% extends "base.html" %}

{% block title %}
	<title>Gutengurd - Category</title>
{% endblock %}


{% block home %}
    <li><a href="index.html"><span>Home</span></a></li>
{% endblock %}

{% block menu_item_has_children %}
    <li class="menu-item-has-children current-menu-item">
{% endblock %}


{% block main_headerfixed_header %}
    	<header class="main_header fixed_header transparen_bg_head">
{% endblock %}


{% block current_menu_item %}
<li><a href="index.html"><span>Home</span></a></li>
{% endblock %}

{% block menuitemhaschildren %}
<li class="menu-item-has-children current-menu-item">
{% endblock %}


{% block SLider %}
<!--Category header-->
<div class="category_header header_image box_overlay d-flex align_items_center justify_content_center categorybg1">


    <h1 class="cat_title">Travels</h1>

    <div class="breadcrumbs">
        <ul class="page-list">
            <li class="first-item">
                <a href="index.html">Home</a>
            </li>
            <li><i class="icon-right-open-big"></i></li>
            <li>Travels</li>
        </ul>
    </div>

</div><!--END Category header-->

<div class="page_container_wrapper">

		<div class="container-fluid no_padding">

			<div class="blog_list_post clearfix">

				<!--Post Box-->
				<div class="blog_post_box clearfix">

					<div class="blog_post_item">

						<h2 class="post_name"><a href="single.html">Coral Bay: My Beach Paradise</a></h2>
						<div class="post_data">
							<span class="category">Travel</span>
							<span class="comments_count"><i class="fas fa-comments"></i> 7</span>
							<span class="reviews_count"><i class="fas fa-eye"></i> 27</span>
						</div>
						<div class="short_desc_post">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt cursus leo nec placerat. Praesent facilisis elit libero, eget ornare turpis ultricies a. In in ex vel metus dignissim blandit non et eros. Integer ac viverra diam, nec euismod est. Sed sed nisl sit amet massa convallis dapibus...</p>
						</div>
						<div class="seea_more">
							<a href="single.html">View More <i class="icon-right-open-big"></i></a>
						</div>
					</div>
					<div class="blog_post_item_image postbg10">
						<div class="post_data_cr">
							<span class="day">11</span>
							<div class="month">Jun</div>
							<div class="year">2018</div>
						</div>
						<a href="single.html" class="post_link_image">
							<img src="../static/assets/images/postimagebox.png" alt="">
						</a>
					</div>
				</div><!--END Post Box-->
				<!--Post Box-->
				<div class="blog_post_box clearfix">

					<div class="blog_post_item">

						<h2 class="post_name"><a href="single.html">Where i find the best travel deals</a></h2>
						<div class="post_data">
							<span class="category">Travel</span>
							<span class="comments_count"><i class="fas fa-comments"></i> 11</span>
							<span class="reviews_count"><i class="fas fa-eye"></i> 1010</span>
						</div>
						<div class="short_desc_post">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt cursus leo nec placerat. Praesent facilisis elit libero, eget ornare turpis ultricies a. In in ex vel metus dignissim blandit non et eros. Integer ac viverra diam, nec euismod est. Sed sed nisl sit amet massa convallis dapibus...</p>
						</div>
						<div class="seea_more">
							<a href="single.html">View More <i class="icon-right-open-big"></i></a>
						</div>
					</div>
					<div class="blog_post_item_image postbg11">
						<div class="post_data_cr">
							<span class="day">1</span>
							<div class="month">May</div>
							<div class="year">2018</div>
						</div>
						<a href="single.html" class="post_link_image">
							<img src="../static/assets/images/postimagebox.png" alt="">
						</a>
					</div>
				</div><!--END Post Box-->

			</div>

			<div class="blog_list_post clearfix">

				<!--Post Box-->
				<div class="blog_post_box clearfix">

					<div class="blog_post_item">

						<h2 class="post_name"><a href="single.html">Hot sand tunisia</a></h2>
						<div class="post_data">
							<span class="category">Travel</span>
							<span class="comments_count"><i class="fas fa-comments"></i> 27</span>
							<span class="reviews_count"><i class="fas fa-eye"></i> 793</span>
						</div>
						<div class="short_desc_post">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt cursus leo nec placerat. Praesent facilisis elit libero, eget ornare turpis ultricies a. In in ex vel metus dignissim blandit non et eros. Integer ac viverra diam, nec euismod est. Sed sed nisl sit amet massa convallis dapibus...</p>
						</div>
						<div class="seea_more">
							<a href="single.html">View More <i class="icon-right-open-big"></i></a>
						</div>
					</div>
					<div class="blog_post_item_image postbg12">
						<div class="post_data_cr">
							<span class="day">3</span>
							<div class="month">May</div>
							<div class="year">2018</div>
						</div>
						<a href="single.html" class="post_link_image">
							<img src="../static/assets/images/postimagebox.png" alt="">
						</a>
					</div>
				</div><!--END Post Box-->

				<!--Post Box-->
				<div class="blog_post_box clearfix">

					<div class="blog_post_item">

						<h2 class="post_name"><a href="single.html">8 Alternative Budget Bacation Deals</a></h2>
						<div class="post_data">
							<span class="category">Travel</span>
							<span class="comments_count"><i class="fas fa-comments"></i> 173</span>
							<span class="reviews_count"><i class="fas fa-eye"></i> 7007</span>
						</div>
						<div class="short_desc_post">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt cursus leo nec placerat. Praesent facilisis elit libero, eget ornare turpis ultricies a. In in ex vel metus dignissim blandit non et eros. Integer ac viverra diam, nec euismod est. Sed sed nisl sit amet massa convallis dapibus...</p>
						</div>
						<div class="seea_more">
							<a href="single.html">View More <i class="icon-right-open-big"></i></a>
						</div>
					</div>
					<div class="blog_post_item_image postbg3">
						<div class="post_data_cr">
							<span class="day">5</span>
							<div class="month">Aug</div>
							<div class="year">2018</div>
						</div>
						<a href="single.html" class="post_link_image">
							<img src="../static/assets/images/postimagebox.png" alt="">
						</a>
					</div>
				</div><!--END Post Box-->

			</div>

			<div class="blog_list_post clearfix">

				<!--Post Box-->
				<div class="blog_post_box clearfix">

					<div class="blog_post_item">

						<h2 class="post_name"><a href="single.html">Scandinavian fjords</a></h2>
						<div class="post_data">
							<span class="category">Travel</span>
							<span class="comments_count"><i class="fas fa-comments"></i> 37</span>
							<span class="reviews_count"><i class="fas fa-eye"></i> 1003</span>
						</div>
						<div class="short_desc_post">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt cursus leo nec placerat. Praesent facilisis elit libero, eget ornare turpis ultricies a. In in ex vel metus dignissim blandit non et eros. Integer ac viverra diam, nec euismod est. Sed sed nisl sit amet massa convallis dapibus...</p>
						</div>
						<div class="seea_more">
							<a href="single.html">View More <i class="icon-right-open-big"></i></a>
						</div>
					</div>
					<div class="blog_post_item_image postbg13">
						<div class="post_data_cr">
							<span class="day">27</span>
							<div class="month">Sep</div>
							<div class="year">2018</div>
						</div>
						<a href="single.html" class="post_link_image">
							<img src="../static/assets/images/postimagebox.png" alt="">
						</a>
					</div>
				</div><!--END Post Box-->

			<!--Post Box-->
				<div class="blog_post_box clearfix">

					<div class="blog_post_item">

						<h2 class="post_name"><a href="single.html">Incredible places for photos</a></h2>
						<div class="post_data">
							<span class="category">Travel</span>
							<span class="comments_count"><i class="fas fa-comments"></i>10</span>
							<span class="reviews_count"><i class="fas fa-eye"></i> 170</span>
						</div>
						<div class="short_desc_post">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt cursus leo nec placerat. Praesent facilisis elit libero, eget ornare turpis ultricies a. In in ex vel metus dignissim blandit non et eros. Integer ac viverra diam, nec euismod est. Sed sed nisl sit amet massa convallis dapibus...</p>
						</div>
						<div class="seea_more">
							<a href="single.html">View More <i class="icon-right-open-big"></i></a>
						</div>
					</div>
					<div class="blog_post_item_image postbg4">
						<div class="post_data_cr">
							<span class="day">18</span>
							<div class="month">Sep</div>
							<div class="year">2018</div>
						</div>
						<a href="single.html" class="post_link_image">
							<img src="../static/assets/images/postimagebox.png" alt="">
						</a>
					</div>
				</div><!--END Post Box-->

			</div>

		</div>

		<div class="text-center btn_loadmore">

			<a href="#" class="btn_gurd btn_gurd_trp btn_gurd_i loadmore_btn">Load More <i class="fas fa-spinner"></i></a>

		</div>

	</div>
{% endblock %}


{% block page_container_wrapper %}

{% endblock %}